<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>createNote</display-name>
    <servlet-name>createNote</servlet-name>
    <servlet-class>com.servlets.createNote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createNote</servlet-name>
    <url-pattern>/createNote</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>deleteNote</display-name>
    <servlet-name>deleteNote</servlet-name>
    <servlet-class>com.servlets.deleteNote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteNote</servlet-name>
    <url-pattern>/deleteNote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateNote</display-name>
    <servlet-name>updateNote</servlet-name>
    <servlet-class>com.servlets.updateNote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateNote</servlet-name>
    <url-pattern>/updateNote</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>